
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Serviços</a></li>
        </ul>
      </nav>
      <hr />
    </header>

    <div>
      <h1 id="titulo">Cadastro de Currículo</h1>
      <p id="subtitulo">Complete suas informações</p>
      <br />
    </div>

    <form action="/cadastro/registrado" method="POST">
      <p class="nomeAreas">Dados Pessoais</p>
      <hr />
      <fieldset class="grupo">
        <div class="campo">
          <label for="nome"><strong>Nome</strong></label>
          <input type="text" name="nome" id="nome" required />
        </div>

        <div class="campo">
          <label for="sobrenome"><strong>Sobrenome</strong></label>
          <input type="text" name="sobrenome" id="sobrenome" required />
        </div>
      </fieldset>

      <fieldset class="grupo">
        <div class="campo">
          <label for="email"><strong>Email</strong></label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="exemplo@exemplo.com"
            required
          />
        </div>

        <div class="campo">
          <label for="cpf"><strong>CPF</strong></label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            minlength="11"
            maxlength="11"
            placeholder="Ex.: 000.000.000-00"
            required
          />
        </div>
      </fieldset>

      <fieldset class="grupo">
        <div class="campo">
          <label for="nascimento"><strong>Data de Nascimento</strong></label>
          <input
            type="date"
            name="nascimento"
            id="nascimento"
            maxlength="8"
            required
          />
        </div>

        <div class="campo">
          <label for="estadocivil"><strong>Estado Civil</strong></label>
          <select id="estadocivil" name="estadocivil" required>
            <option value="1" selected disabled>Selecione</option>
            <option value="Solteiro(a)">Solteiro(a)</option>
            <option value="União Estável">União Estável</option>
            <option value="Casado(a)">Casado(a)</option>
            <option value="Divorciado(a)">Divorciado(a)</option>
            <option value="Viúvo(a)">Viúvo(a)</option>
          </select>
        </div>

        <div class="campo">
          <label for="sexo"> <strong>Sexo </strong></label>
          <select id="sexo" name="sexo" required>
            <option value="1" selected disabled>Selecione</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Transgênero">Transgênero</option>
            <option value="Não binário">Não binário</option>
          </select>
        </div>
      </fieldset>

      <p class="nomeAreas">Endereço</p>
      <hr />
      <fieldset class="grupo">
        <div class="campo">
          <label for="cep"><strong>CEP/Código Postal</strong></label>
          <input
            type="text"
            id="cep"
            name="cep"
            maxlength="8"
            minlength="8"
            placeholder="Ex.: 00000-000"
            required
          />
        </div>

        <div class="campo">
          <label for="endereco"><strong>Endereço</strong></label>
          <input type="text" id="endereco" name="endereco" required />
        </div>
      </fieldset>

      <fieldset class="grupo">
        <div class="campo">
          <label for="bairro"><strong>Bairro</strong></label>
          <input type="text" id="bairro" name="bairro" required />

        </div>
        <div class="campo">
          <label for="estado"><strong>Número</strong></label>
          <input type="text" id="numero" name="numero" required />
        </div>

        
        <br />
      </fieldset>
      
      <fieldset class="grupo">

        <div class="campo">
          <label for="cidade"><strong>Complemento</strong></label>
          <input type="text" id="complemento" name="complemento"/>
        </div>

        <div class="campo">
          <label for="cidade"><strong>Cidade</strong></label>
          <input type="text" id="cidade" name="cidade" required />
        </div>

      </fieldset>

      <fieldset class="grupo">
        <div class="campo">
          <label for="estado"><strong>Estado</strong></label>
          <input type="text" id="estado" name="estado" required />
        </div>
      </fieldset>

      <p class="nomeAreas">Contato</p>
      <hr />

      <fieldset class="grupo">
        <div class="campo">
          <label><strong>Celular</strong></label>
          <input
            type="text"
            id="celular"
            name="celular"
            placeholder="1191234-5678"
            required
          />
        </div>

        <div class="campo">
          <label><strong>Telefone</strong></label>
          <input
            type="text"
            id="telefone"
            name="telefone"
            placeholder="114444-4444"
            required
          />
        </div>
      </fieldset>

      <fieldset class="grupo">
        <div class="campo">
          <label><strong>Telefone de Recado</strong></label>
          <input
            type="text"
            id="telefonecontato"
            name="telefonecontato"
            minlength="9"
            placeholder="1191234-5678"
          />
        </div>

        <div class="campo">
          <label for="email"><strong>Email de Recados</strong></label>
          <input
            type="email"
            name="emailcontato"
            id="emailcontato"
            placeholder="exemplo@exemplo.com"
          />
        </div>
      </fieldset>

      <p class="nomeAreas">Escolaridade</p>
      <hr />

      <fieldset class="grupo">
        <div class="campo">
          <label for="escolaridade"><strong>Nível de Escolaridade</strong></label>
          <select id="escolaridade" name="escolaridade" required>
            <option value="1" selected disabled>Selecione</option>
            <option value="Fundamental Incompleto">Fundamental Incompleto</option>
            <option value="Fundamental Completo">Fundamental Completo</option>
            <option value="Ensino Médio Incompleto">Ensino Médio Incompleto</option>
            <option value="Ensino Médio Completo">Ensino Médio Completo</option>
            <option value="Cursando Superior">Cursando Superior</option>
            <option value="Superior Incompleto">Superior Incompleto</option>
            <option value="Superior Completo ">Superior Completo</option>
          </select>
        </div>
      </fieldset>

      <p class="nomeAreas">Competências</p>
      <hr />

      <fieldset class="grupo">

      <div class="campo">
        <label for="competências">Faça um resumo sobre suas habilidades</label>
        <textarea name="competencias" id="" cols="55" rows="6" maxlength="500" required></textarea>
      </div>
      
      </fieldset>

      <button class="botao" type="submit" onsubmit="">Concluído</button>
    </form>