<div class="concluido">
<h1>Cadastro concluído</h1>

<p>Seu cadastro foi concluído com sucesso</p>
<p>Agradecemos sua preferencia</p>
<button class="botao" type="submit" ><a href="/">Voltar</a></button>
</div>