<div class="home">
<h1>Vamos cadastrar seu Currículo</h1>
<p>Venha fazer parte do banco de currículo da JobsNet</p>

<button class="botao" type="submit" ><a href="cadastro">Vamos lá!</a></button>

</div>